@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 219 13% 16%;
    --primary: 14 80% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 58% 42%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 15% 95%;
    --muted-foreground: 222 10% 45%;
    --border: 220 14% 92%;
    --input: 220 14% 92%;
    --ring: 217.2 91.2% 59.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 29% 7%;
    --foreground: 0 0% 98%;
    --primary: 14 80% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 58% 42%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215 24% 16%;
    --muted-foreground: 210 13% 70%;
    --border: 215 16% 24%;
    --input: 215 24% 16%;
    --ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Plus Jakarta Sans Variable", sans-serif;
    font-feature-settings: "liga" 1, "calt" 1;
  }
}
